<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="LoanDepartment.CarLoan"/>
      <class name="LoanDepartment.PersonalLoan"/>
      <class name="LoanDepartment.HomeLoan"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
